body {
}

#employee_list, #add_employee, #update_employee, #delete_employee {
    display: none;
}

#main-container {
    background-color: #14c5ed2e;
    color: #28a745;
}

.space {
    width: 200px;
}
#ft {
    text-align: center;
    padding: 15px;
    background-color: #343a40;
    color: white;
}

#home {
    background-color: #2da8cd;
}

#myInput {
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid;
    margin-bottom: 12px;
}

#plus, #sort {
    border: 1px solid;
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 205px;
    cursor: pointer;
    background-color: #008CBA;
}
